@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import 'tailwindcss';

:root {
  --primary: #FFCE1A;
  --secondary: #0D0842;

  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Nunito Sans', sans-serif;
}

/* Other styles or Tailwind directives can go here */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev {
  display: none !important;
}

.swiper-button-next {
  @apply bg-white p-5 rounded-full z-50 shadow-md;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 16px !important;
}

.btn-primary {
  background-color: var(--primary); /* Use CSS variable */
  @apply px-12 py-2 rounded-md text-base font-secondary font-bold hover:bg-secondary hover:text-white transition-all duration-200 cursor-pointer;
}

html {
  scroll-behavior: smooth;
}

/* @layer utilities {
  .font-primary {
    font-family: var(--font-primary);
  }
  .font-secondary {
    font-family: var(--font-secondary);
  }
} */

@utility font-secondary {
  font-family: 'Nunito Sans', sans-serif; 
}

@utility bg-secondary {
  background-color: #0D0842 ;
}